<ion-content (ionChange)="vercambios()">
  <div class="section">
    <h3>Color primario</h3>
    <div class="color-options">
      <div *ngFor="let color of popularColors" [style.background]="color" class="color-box"
        [class.selected]="selectedPrimary === color" (click)="selectColor('primary', color)">
      </div>
    </div>
  </div>

  <div class="section">
    <h3>Color secundario</h3>
    <div class="color-options">
      <div *ngFor="let color of popularColors" [style.background]="color" class="color-box"
        [class.selected]="selectedSecondary === color" (click)="selectColor('secondary', color)">
      </div>
    </div>
  </div>

</ion-content>



<ion-footer style="background: rgb(233, 233, 233);">
  <ion-grid>
    <ion-row>
      <ion-col size="6" class="ion-text-center">
        <!-- Toggle en vez de Checkbox -->
        <div class="toggle-container">
          <label class="toggle-label">Mostrar Nombre</label>
          <ion-toggle (ionChange)="togglenuevo()"
            class="custom-toggle"
            [checked]="mostrarNombre"
            [(ngModel)]="mostrarNombre">
          </ion-toggle>
        </div>
      </ion-col>

      <ion-col size="6" class="ion-text-center">
        <ion-input style="color:blue"
          [(ngModel)]="nombre_del_que_cumple" (ionChange)="cambio_nombre()" (ionInput)="cambio_nombre()"
          class="custom-input"
          placeholder="Nombre del cumpleañero"
          [disabled]="!mostrarNombre"
          maxlength="20">
        </ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-button expand="block" fill="outline" (click)="goBack()">Atrás</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" shape="round" (click)="goToStep3()">Siguiente</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
