<ion-content>
    <ion-fab-button (click)="irapaso1()" size="small"
        style="padding:0; position:absolute;top:2px;left:2px;z-index: 222;" color="transparent">
        <ion-icon size="small" name="close"></ion-icon>
    </ion-fab-button>



    <div *ngIf="this.storageService.data['animacion_seleccionada']==='1'">

        <app-animacionunocomp></app-animacionunocomp>

    </div>

    <div *ngIf="this.storageService.data['animacion_seleccionada']==='2'">

        <app-animaciondoscomp></app-animaciondoscomp>

    </div>

    <div *ngIf="this.storageService.data['animacion_seleccionada']==='3'">

        <app-animaciontrescomp></app-animaciontrescomp>

    </div>

    <div *ngIf="this.storageService.data['animacion_seleccionada']==='4'">

        <app-animacioncuatrocomp></app-animacioncuatrocomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='5'">

        <app-animacioncincocomp></app-animacioncincocomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='6'">

        <app-animacionseiscomp></app-animacionseiscomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='7'">

        <app-animacionsietecomp></app-animacionsietecomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='8'">

        <app-animacionochocomp></app-animacionochocomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='9'">

        <app-animacionnuevecomp></app-animacionnuevecomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='10'">

        <app-animaciondiezcomp></app-animaciondiezcomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='11'">

        <app-animaciononcecomp></app-animaciononcecomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='12'">

        <app-animaciondocecomp></app-animaciondocecomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='13'">

        <app-animaciontrececomp></app-animaciontrececomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='14'">

        <app-animacioncatorcecomp></app-animacioncatorcecomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='15'">

        <app-animacionquincecomp></app-animacionquincecomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='16'">

        <app-animaciondiesiseiscomp></app-animaciondiesiseiscomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='17'">

        <app-animaciondiesisietecomp></app-animaciondiesisietecomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='18'">

        <app-animaciondiesiochocomp></app-animaciondiesiochocomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='19'">

        <app-animaciondiesinuevecomp></app-animaciondiesinuevecomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='20'">

        <app-animacionveintecomp></app-animacionveintecomp>

    </div>
    <div *ngIf="this.storageService.data['animacion_seleccionada']==='21'">

        <app-animacionveintiunocomp></app-animacionveintiunocomp>

    </div>


</ion-content>