<ion-content class="ion-no-padding">

  <div class="fuentes-container ion-text-center" #scrollable (scroll)="syncScroll($event)">

    <!-- Renderizado dinámico -->
    <ng-container *ngFor="let fuente of displayedFonts">
      <ion-text
        (click)="seleccionar_fuente(fuente)"
        [ngClass]="{ 'seleccionada': seleccionada === fuente }"
        style="font-size:large"
        [style.font-family]="fuente"
        class="ion-no-padding"
      >
        {{ storageService.data['birthdayText'] || 'Feliz Cumpleaños' }}
        {{ storageService.data['cached_nombre_del_que_cumple'] || '' }}
      </ion-text>
      <br>
    </ng-container>

    <!-- Botón para cargar más -->
    <ion-button expand="block" (click)="loadMoreFonts()" *ngIf="currentIndex < allFonts.length">
      Cargar más
    </ion-button>

    <!-- Scroll artificial -->
    <div
      class="fake-scroll"
      [style.height.%]="scrollThumbHeight"
      [style.top.%]="scrollThumbTop"
    ></div>

  </div>
</ion-content>
