<div class="video-bg-wrapper" (click)="playVideo()">
  <video
    #bgVideo
    class="background-video"
    autoplay
    loop
    muted
    playsinline
    [attr.src]="videoSrc">
  </video>

  <div class="overlay-content">
    <h1 *ngIf="this.storageService.data['realAge']!='0'" class="age" [style.fontFamily]="this.storageService.data['font_family_dinamico'] ? this.storageService.data['font_family_dinamico'] : 'uno'">{{ age }}</h1>
        <h1 *ngIf="this.storageService.data['realAge']==='0'" class="agebaby" [style.fontFamily]="this.storageService.data['font_family_dinamico'] ? this.storageService.data['font_family_dinamico'] : 'uno'">{{ this.storageService.data['cached_shower_meses'] }}&nbsp;<sub>Mes</sub></h1>

    <h2 class="birthday-text" [style.fontFamily]="this.storageService.data['font_family_dinamico'] ? this.storageService.data['font_family_dinamico'] : 'uno'">{{ birthdayText }}</h2>
    <h3 *ngIf="this.storageService.data['cached_ocultar_nombre']!='si'" class="name" [style.fontFamily]="this.storageService.data['font_family_dinamico'] ? this.storageService.data['font_family_dinamico'] : 'uno'">{{ name }}</h3>
  </div>
</div>
