<div class="explosion-wrapper" [style.background]="getLinearGradientBackground()">
  <div class="explosion-background"></div>
  <div class="flash-burst" [style.background]="getRadialFlash()"></div>

  <div class="explosion-text">
    <h1 class="blast-text" [style.color]="getPrimaryTextColor()" [style.textShadow]="getTextStrokeShadow()">
      {{ storageService.data['Age'] }}
    </h1>

<h2 class="blast-name" [style.textShadow]="getPrimaryGlow()">
  ¡Feliz Cumpleaños {{ storageService.data['cached_nombre_del_que_cumple'] }}!
</h2>
    
  </div>

  <div class="particle" *ngFor="let p of [].constructor(30); let i = index"
    [style.backgroundColor]="getParticleColor(i)"></div>
</div>