<ion-header>
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="atras()" fill="outline">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
        Volver
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="selectAnimation()" fill="outline">
        Continuar
        <ion-icon slot="end" name="arrow-redo"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Seleccionar animación:</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid>

    <!-- <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('1')" [ngClass]="{ 'seleccionada': seleccionada === '1' }">
        <div class="anim-wrapper">
          <app-animacionunocomp></app-animacionunocomp>
        </div>
      </ion-col>
    </ion-row> -->

    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('1')" [ngClass]="{ 'seleccionada': seleccionada === '1' }">
        <div class="anim-wrapper">
          <app-animacionunocomp></app-animacionunocomp>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('2')" [ngClass]="{ 'seleccionada': seleccionada === '2' }">
        <div class="anim-wrapper">
          <app-animaciondoscomp></app-animaciondoscomp>
        </div>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('3')" [ngClass]="{ 'seleccionada': seleccionada === '3' }">
        <div class="anim-wrapper">
          <app-animaciontrescomp></app-animaciontrescomp>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('4')" [ngClass]="{ 'seleccionada': seleccionada === '4' }">
        <div class="anim-wrapper">
          <app-animacioncuatrocomp></app-animacioncuatrocomp>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('5')" [ngClass]="{ 'seleccionada': seleccionada === '5' }">
        <div class="anim-wrapper">
          <app-animacioncincocomp></app-animacioncincocomp>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('6')" [ngClass]="{ 'seleccionada': seleccionada === '6' }">
        <div class="anim-wrapper">
          <app-animacionseiscomp></app-animacionseiscomp>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('7')" [ngClass]="{ 'seleccionada': seleccionada === '7' }">
        <div class="anim-wrapper">
          <app-animacionsietecomp></app-animacionsietecomp>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('8')" [ngClass]="{ 'seleccionada': seleccionada === '8' }">
        <div class="anim-wrapper">
          <app-animacionochocomp></app-animacionochocomp>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('9')" [ngClass]="{ 'seleccionada': seleccionada === '9' }">
        <div class="anim-wrapper">
          <app-animacionnuevecomp></app-animacionnuevecomp>
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('10')" [ngClass]="{ 'seleccionada': seleccionada === '10' }">
        <div class="anim-wrapper">
          <app-animaciondiezcomp></app-animaciondiezcomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('11')" [ngClass]="{ 'seleccionada': seleccionada === '11' }">
        <div class="anim-wrapper">
          <app-animaciononcecomp></app-animaciononcecomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('12')" [ngClass]="{ 'seleccionada': seleccionada === '12' }">
        <div class="anim-wrapper">
          <app-animaciondocecomp></app-animaciondocecomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('13')" [ngClass]="{ 'seleccionada': seleccionada === '13' }">
        <div class="anim-wrapper">
          <app-animaciontrececomp></app-animaciontrececomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('14')" [ngClass]="{ 'seleccionada': seleccionada === '14' }">
        <div class="anim-wrapper">
          <app-animacioncatorcecomp></app-animacioncatorcecomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('15')" [ngClass]="{ 'seleccionada': seleccionada === '15' }">
        <div class="anim-wrapper">
          <app-animacionquincecomp></app-animacionquincecomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('16')" [ngClass]="{ 'seleccionada': seleccionada === '16' }">
        <div class="anim-wrapper">
          <app-animaciondiesiseiscomp></app-animaciondiesiseiscomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('17')" [ngClass]="{ 'seleccionada': seleccionada === '17' }">
        <div class="anim-wrapper">
          <app-animaciondiesisietecomp></app-animaciondiesisietecomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('18')" [ngClass]="{ 'seleccionada': seleccionada === '18' }">
        <div class="anim-wrapper">
          <app-animaciondiesiochocomp></app-animaciondiesiochocomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('19')" [ngClass]="{ 'seleccionada': seleccionada === '19' }">
        <div class="anim-wrapper">
          <app-animaciondiesinuevecomp></app-animaciondiesinuevecomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('20')" [ngClass]="{ 'seleccionada': seleccionada === '20' }">
        <div class="anim-wrapper">
          <app-animacionveintecomp></app-animacionveintecomp>
        </div>
      </ion-col>
    </ion-row>
        <ion-row>
      <ion-col size="12" (click)="seleccionar_animacion('21')" [ngClass]="{ 'seleccionada': seleccionada === '21' }">
        <div class="anim-wrapper">
          <app-animacionveintiunocomp></app-animacionveintiunocomp>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid>
  </ion-grid>
</ion-content>