.anim-wrapper {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #f4f4f4;
  border-radius: 16px;
  margin-bottom: 20px;

  app-animacionunocomp,
  app-animaciondoscomp,
  app-animaciontrescomp,
  app-animacioncuatrocomp {
    transform: scale(0.5); // ajusta si necesitas más zoom
    transform-origin: center;
  }
}

// Opcional: destacar la animación seleccionada
.seleccionada {
  border: 3px solid #3880ff;
  border-radius: 20px;
}
