/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
// @import "@ionic/angular/css/palettes/dark.system.css";



// @font-face {
//     font-family: 'FontAwesome';
//     src: url('@{fa-font-path}/fontawesome-webfont.eot');
//     src: url('@{fa-font-path}/fontawesome-webfont.woff2') format('woff2'),
//       url('@{fa-font-path}/fontawesome-webfont.woff') format('woff'),
//       url('@{fa-font-path}/fontawesome-webfont.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//   }


@font-face {
  font-family: 'uno';
  src: url('assets/fonts/babybison.otf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'dos';
  src: url('assets/fonts/2.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'tres';
  src: url('assets/fonts/3.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'cuatro';
  src: url('assets/fonts/4.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'cinco';
  src: url('assets/fonts/5.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'seis';
  src: url('assets/fonts/6.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'siete';
  src: url('assets/fonts/7.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'ocho';
  src: url('assets/fonts/8.ttf');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'nueve';
  src: url('assets/fonts/9.ttf');
  font-weight: bolder;
  font-style: normal;
}


@font-face {
  font-family: 'diez';
  src: url('assets/fonts/10.otf');
  font-weight: bolder;
  font-style: normal;
}

// @font-face {
//   font-family: 'dos';
//   src: url('assets/fonts/peachesandcreamclack.otf');
//   font-weight: bolder;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'tres';
//   src: url('assets/fonts/hellokartinaregular.ttf');
//   font-weight: bolder;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'cuatro';
//   src: url('assets/fonts/hellokartinaregular.ttf');
//   font-weight: bolder;
//   font-style: normal;
// }


// @font-face {
//   font-family: 'cinco';
//   src: url('assets/fonts/calromananim4.otf');
//   font-weight: bolder;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'seis';
//   src: url('assets/fonts/visibleanim4.otf');
//   font-weight: bolder;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'siete';
//   src: url('assets/fonts/visibleanim4visibleanim4.otf');
//   font-weight: bolder;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'ocho';
//   src: url('assets/fonts/betteryou.otf');
//   font-weight: bolder;
//   font-style: normal;

// }





@media (min-width: 1025px) {
  .ocultar_computadora {
    display: none !important;
  }
}

/* Estilos para pantallas de tabletas */
@media (min-width: 769px) and (max-width: 1024px) {
  .ocultar_tablet {
    display: none !important;
  }
}

/* Estilos para pantallas de dispositivos móviles */
@media (max-width: 768px) {
  .ocultar_celulares {
    display: none !important;
  }
}


.agebaby {
  // margin-top:-5vh;
  // font-size: 8rem;
  font-weight: bold;
  // line-height:2;
}


.age {
  // margin-top:-5vh;
  // font-size: 9rem;
  font-weight: bold;
  // line-height: 5.5rem;
}


.contenedoranimacion {
  margin-top: -4vh;
}